@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*img {
 width:35;
 height:35;
}*/
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#153677,#4c085f);
    padding: 10px;
    border-radius: 10px;
}
.studentinfo{
    background-color: beige;
    width:100%;
    height: 50px;
    border: 15px snow;
    padding: 5px;
   
    
}
.studentinfo h1{
    display: flex;
    align-items:center;
    justify-content: center;
}
.button{
    
    margin-top: 10px;
    padding: 10px;
    background-color: aqua;
    color: #000;
    font-weight: 200;
    border-radius: 5px;
}
.y {
    box-sizing:box-shadow 1px 1px 1px 1px rgba(203, 203, 123, 0.5);
    border-radius: 0.1cm;
    box-sizing: content-box;
    padding: 10px;
    width: 400px;
    
}